@import 'configuration';
@import 'mixins/*';

/* Vendor
// ::::::::::::: */

@import 'vendor/*';

/* Mimo
// ::::::::::::: */

@import 'mimo/menu';
@import 'mimo/grid';
@import 'mimo/lantern';
@import 'mimo/theme';
@import 'mimo/sail';

/* Structure
// ::::::::::::: */

@import 'structure/*';

/* Elements
// ::::::::::::: */

@import 'elements/*';

/* Navigation
// ::::::::::::: */

@import 'navigation/*';

/* Components
// ::::::::::::: */

@import 'components/*';
html,
body,
#main {
    height: 100%;
}

#main {
    display: flex;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.video-container {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.video-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   pointer-events: none;
   overflow: hidden;
}
.video-container iframe {
   width: 100vw;
   height: 100%; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
   min-height: 100vh;
   min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.logo {
    max-width: 70%;
    position: relative;
    z-index: 1;
}
