extends ../template.pug

block title
  - title = "Oniracom Lobby TV Live"

block theme
  - themeName = "Lobby TV"

block additional-stylesheets

block content
  .container
    .gradient-container
    img.logo(src="/dist/images/Logo_Horizontal_White.png")

block footer

block additional-scripts
  include ../partials/analytics.pug
