extends ../template.pug

block title
  - title = "Oniracom Lobby TV Live"

block theme
  - themeName = "Lobby TV"

block additional-stylesheets

block content
  .container
    .video-container
      .
        <iframe src="https://player.vimeo.com/video/509863594?background=1&autoplay=1&loop=1&byline=0&title=0?muted=1"
           frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    img.logo(src="/dist/images/Logo_Horizontal_White.png")

block footer

block additional-scripts
  include ../partials/analytics.pug
